header {
    display: flex;
    flex-direction: row;
    block-size: fit-content;
    align-items: center;
}

.logo {
    max-width: auto;
    height: 2em;
    padding-right: 1em;
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 2em;
    top: 1em;
}

/* .name-and-job {
    flex-grow: 2;
} */

.name {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.job {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.button {
    /* display: none; */
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 1em;
}
  
.bar1, .bar2, .bar3 {
    width: 1.2em;
    height: 0.2125em;
    background-color: #333;
    margin: 0.25em 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 0.4625em) rotate(-45deg);
}

.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -0.4625em) rotate(45deg);
}

@media (max-width: 1100px) {
    .button {display: inline-block;}
    .nav-bar {display: none;}
}

@media (max-width: 430px) {
    .logo {display: none;}
}