@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

:root {
    --blue: #15E9FE;
    --white: #ffffff;
    --gray: #515252;
    --light-gray: #D9D9D9;
}

* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    color: var(--gray);
}