.presentation {
    margin: 0 2em 0 2em;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.hello {
    font-weight: bold;
    font-size: 25vw;
    text-transform: uppercase;
    margin-left: -0.05em;
    line-height: 1em;
}

.welcome {
    font-size: 2.5vw;
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
}

.avatar {
    position: absolute;
    height: auto;
    width: 60%;
    padding-top: 3em;
    margin-left: -3em;
}

.intro {
    align-self: flex-end;
    margin-top: 3em;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: max-content;
}

.intro span {
    font-weight: bold;
    font-size: 2vw;
}

.intro ul {
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.intro li {
    font-size: 1.4vw;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.4em;
    background-color: var(--light-gray);
}

@media (max-width: 768px) {
    .intro {
        position: relative;
    }
}